wallet_address = 'xxx'
private_key = 'xxx'

# niao token contract address
contract_address = '0xde6e12bdb2062dc48b409f0086219464a0c317a0'

bsc_api_key = 'xxx'
github_project = "/albertofwb/bsc_batch_transfer"